apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-deployment
  namespace: test-namespace
  labels:
    app: api-gateway
spec:
  selector:
    matchLabels:
      app: api-gateway
  replicas: 1
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      containers:
      - name: api-gateway
        image: latest/api-gateway
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: NODE_ENV
          value: dev_from_k8
        - name: service_1_service_name
          valueFrom: 
            configMapKeyRef:
              name: api-ingress-config-map
              key: service_1_service_name
        - name: service_2_service_name
          valueFrom: 
            configMapKeyRef:
              name: api-ingress-config-map
              key: service_2_service_name
